<% content_for :title do %>
  welcome <%= current_user.username if current_user %>
<% end %>

<% content_for :content do %>
  <% if current_user %>
    <% unless current_user.twitter_account.nil? %>
      <%= render :partial => "shared/services" %>
      <ul id="messages">
        <% @messages.each do |m| %>
          <% if m.class.name == "Tweet" %>
            <li><%= display_tweet(m) %></li>
          <% elsif m.class.name == "Status" %>
            <li><%= display_status(m) %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <div id="splash">
      <p>
        <%= link_to(image_tag("icon_facebook_large.png"), "http://facebook.com") %>
        <%= link_to(image_tag("icon_twitter_large.png"), "http://twitter.com") %>
        <%= link_to(image_tag("icon_buzz_large.png"), "http://google.com/buzz") %>
      </p>
      <p id="description">
        To get started, sign up or login and connect your social media accounts. Then enjoy the simplicity of <%= app_name %>.
      </p>
      <p id="buttons">
        <%= link_to("sign up", new_user_path, { :id => "button-signup" }) %>
        <%= link_to("login", login_path, { :id => "button-login" }) %>
      </p>
    </div>
  <% end %>
<% end %>
