<% content_for :title do %>register<% end %>
<% content_for :content do %>
  <% form_for @user do |form| %>
  <%= form.error_messages %>
  <ul class="formList">
    <li>
      <%= form.label :username, "username" %><br />
      <%= form.text_field :username, { :class => "autofocus" } %>
    </li>
    <li>
      <%= form.label :email, "email" %><br />
      <%= form.text_field :email %>
    </li>
    <li>
      <%= form.label :password, "password" %><br />
      <%= form.password_field :password %>
    </li>
    <li>
      <%= form.label :password_confirmation, "confirm password" %><br />
      <%= form.password_field :password_confirmation %>
    </li>
    <li>
      <%= form.submit "register" %>
    </li>
  </ul>
  <% end %>
<% end %>

<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.autofocus:first').focus();
    });
  </script>
<% end %>
