<% content_for :title do %>login<% end %>

<% content_for :content do %>
  <% form_for @user_session do |form| %>
    <ul>
      <li>
        <%= form.label :username, "username" %>
        <%= form.text_field :username, { :class => "autofocus" } %>
      </li>
      <li>
        <%= form.label :password, "password" %>
        <%= form.password_field :password %>
      </li>
      <li>
        <%= form.label :remember_me, "remember me" %>
        <%= form.check_box :remember_me %>
      </li>
      <li>
        <%= form.submit "login" %>
      </li>
    </ul>
  <% end %>
<% end %>

<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.autofocus:first').focus();
    });
  </script>
<% end %>
