<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>social</title>
  <%= stylesheet_link_tag "application" %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
</head>
<body>
  <div id="layout-top"></div>
  <div id="container">
    <div id="header">
      <div id="user-nav"><%= link_to "home", root_url %> | <%= render :partial => "shared/user_nav" %></div>
      <h1>social</h1>
      <div id="title"><h2><%= yield :title %></h2></div>
    </div>
    <div id="content">
      <% if flash[:notice] %><div id="flash"><%= flash[:notice] %></div><% end %>
      <%= yield :content %>
    </div>
    <div id="footer">
      created by <%= link_to "Marcus Ortiz", "http://marcusortiz.com" %> &copy; 2010
    </div>
  </div>
  <div id="layout-bottom"></div>
</body>
</html>
