<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag "application" %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
</head>
<body>
  <div id="container">
    <div id="user-nav"><%= link_to "home", root_url %> | <%= render :partial => "shared/user_nav" %></div>
    <div id="header">
      <h1><%= yield :title %></h1>
    </div>
    <div id="content">
      <% if flash[:notice] %><div id="flash"><%= flash[:notice] %></div><% end %>
      <%= yield :content %>
    </div>
  </div>
</body>
</html>
